html {
  box-sizing: border-box;
}


*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin:0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 0;
}

p {
  font-family: 'Roboto Mono', monospace;
  text-align: justify;
  padding-bottom: 10px;
}

ul {
  font-family: 'Roboto Mono', monospace;
}

a {
  color: #df655b;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

header {
  padding-top: 70px;
  position: relative;
  background: #df655b;
  color: #e9aeca;
}

footer {
  background: #e9aeca;
  color: #df655b;
  text-align: center;
}

.img {
  border-radius: 50%;
}


.contact-info a {
  padding: 10px;
  display: inline-block;
}


nav {
  text-align: center;
  background: #e9aeca;
  position: fixed;
  width: 100%;
  top: 0;
}

nav a {
  display: inline-block;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.assignments {
  background: #189acf;
  color: #e9aeca;
}

.research {
  background: #e9aeca;
  color: #df655b;
}

.reflect {
  background: #df655b;
  color: #e9aeca;
}

h3 ~ p {
  margin: 0;
}

p ~ video {
  margin:0;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top:0;
}

.about {
  color: #e9aeca;
  background: #189acf;
}

.education {
  color: #fff;
  background: #a8c0ff;
  }

.contact-info {
  font-family: "Roboto Condensed";
  text-decoration: none;
}

p + h3 {
  margin-top: 30px;
}


.btn {
  text-decoration: none;
  background: #985b52;
  padding: 10px;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 50px;
  }
}

@media (max-width: 899px) {
  header {
    text-align:center;
  }

  .img {
    width: 200px;
  }
}
